[submodule "multibillboard"]
	path = multibillboard
	url = https://github.com/Cherum/multibillboard
[submodule "OculusSDK"]
	path = OculusSDK
	url = https://github.com/jherico/OculusSDK.git
[submodule "flymodenavigator-qt3d"]
	path = flymodenavigator-qt3d
	url = https://github.com/ComputationalPhysics/flymodenavigator-qt3d.git
